* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-transition: all 0.5s ease-in-out;
  --main-color: #19324f;
}
body {
  transition: all 0.3s linear;
}
.toastify {
  max-width: calc(50% - 30px) !important;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .toastify {
    max-width: calc(100% - 30px) !important;
    width: 100%;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــ
 # Home
ــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.home {
  position: relative;
  background-image: url("../img/mountain.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.home::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــ
 # Home search-container
ــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.home .search {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.search-container .input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: var(--main-transition);
  background-color: var(--main-color);
  padding-right: 40px;
  color: #fff;
}
.search-container .input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.search-container .btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.search-container .btn-search:focus ~ .input-search {
  width: 400px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.search-container .input-search:focus {
  width: 400px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــ
 # Home data-container
ــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.data-container {
  position: relative;
  background-color: #19324fc2;
  width: 100%;
  min-height: 30vh;
  backdrop-filter: blur(15px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.data-container .box {
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.data-container .box:not(:last-child) {
  border-right: 1px solid #111111;
}
.data-container .box:first-child h1 {
  font-size: 80px;
  color: #fff;
  margin: 0;
}
.data-container .box:first-child p {
  color: #ddd;
  font-size: 25px;
}
.data-container .box:first-child img {
  width: 100px;
  height: 100px;
}
.data-container .box:not(:first-child) {
  flex-direction: column;
}
.data-container .box h1 {
  font-size: 20px;
  color: #fff;
  margin: 0;
}
.data-container .box p {
  color: #ddd;
  font-size: 25px;
}
@media (max-width: 768px) {
  .data-container {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  .data-container .box:first-child h1 {
    font-size: 35px;
  }
  .data-container .box:first-child img {
    width: 55px;
    height: 55px;
  }
  .data-container .box:first-child p {
    font-size: 18px;
  }
  .data-container .box {
    border-bottom: 1px solid #111111;
  }
}
