* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Ubuntu' , sans-serif;
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    background: #272727;
    transition: all .3s linear;
  }
  /*ــــــــــــــــــــــــــــــــــــــــــــــ
  left menu
  ــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.menu{
    height: 100vh;
    background-color: #272727;
    box-shadow:-3px -3px 7px #3c3c3c73 inset ,2px 2px 3px rgba(94,104,121,0.288) inset;
}
.menu h1{
    padding: 25px;
    font-size: 30px;
    color: rgb(150, 145, 138);
}
.menu h1 i{
    font-size: 30px;
    color: rgb(212, 47, 47);
}
.menu ul{
    list-style: none;
    width: 100%;
}
.menu ul li {
    padding: 10px;
    margin-left: -15px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu ul li i{
    font-size: 25px;
    color: burlywood;
    background-size: contain;
    padding-right: 15px;
}
.menu ul li:hover ,.menu ul li a:hover {
    color: rgb(63, 45, 150);
    width: 100%;
    height: auto; 
}
.menu ul li:hover i , .menu ul li i.active {
    color: rgb(176, 17, 17);
}

.menu ul li:last-child{
    position: absolute;
    bottom: 15px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    color: rgba(112, 112, 112, 0.462);
    width: 14%;
}@media (max-width: 992px) {
    .menu ul li:last-child{
       position: static;
       width: 100%;
    }
}

.menu ul li:last-child span{
    padding-right: 50px;
}
.bt {
    padding: 10px;
    margin-top: 15px;
    /* color: #000; */
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: #5372FE;
    background: #272727;
    box-shadow:   2px 2px 5px #141414, -5px -5px 10px #212121;
  }
  .bt:focus{
    box-shadow:  inset 2px 2px 5px #141414, inset -5px -5px 10px #212121;
  }
  /*ــــــــــــــــــــــــــــــــــــــــــــــ
  right menu
  ــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.menu-right{
    height: 100vh;
    background-color: #272727;
    box-shadow:-3px -3px 7px #3c3c3c73 inset ,2px 2px 3px rgba(94,104,121,0.288) inset;
}
.menu-right .header{
    list-style: none;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 15px;
}
.menu-right .header li{
    font-size: 30px;
    padding: 15px;
    display: inline-block;
    color: rgba(60, 91, 141, 0.582)
}.menu-right .header li h1{
    color: #0e0e0e;
}
.menu-right .header li i:hover{
    color: #2f549d;
}
.menu-right table{
    width: 100%;
    padding-bottom: 150px;
    border-collapse:separate; 
    border-spacing:1em;
}
.menu-right table tr {
    height:100px;
    
}
.menu-right table tr h1{
    color: rgba(60, 91, 141, 0.582);
    padding-left: 15px;
    font-size: 25px;
}
.menu-right table tr p{
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.337);
}
.menu-right table tr td span{
    margin-left: -100px;
    font-size: 25px;
}
.menu-right table tr td i{
    font-size: 50px;
    color: rgb(245, 147, 0);
}

  /*ــــــــــــــــــــــــــــــــــــــــــــــ
  center menu
  ــــــــــــــــــــــــــــــــــــــــــــــــــ*/

.txt{
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    background: #272727;
    color: #fff;
    box-shadow:  inset 2px 2px 5px #141414, inset -5px -5px 10px #212121;
    width: 100%;
    border-radius: 10px;
  }@media (max-width: 992px) {
    .txt{
        text-align:center;
        width: 90%;
        justify-content: center;
        justify-self: center;
        text-align: center;
        margin-left: 5%;
    }
  }
  .btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    color: #5372FE;
    background: #272727;
    box-shadow:   2px 2px 5px #141414, -5px -5px 10px #212121;
    border-radius: 5px;
  }
  .btn:hover{
    color: #fff;
  }
  .btn:focus{
    box-shadow:  inset 2px 2px 5px #141414, inset -5px -5px 10px #212121;
  }
  #Dachboard{
    height: 100vh;
  }
 #Dachboard .Card{
    width: 700px;
    height: 400px;
    position: relative;
    justify-items: center;
    justify-content: center;
    top: 15%;
    left: 10%;
    background-color: #0e0e0e;
    border-radius: 20px;
}
.card-inner{
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;

}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    animation: move-up .9s ease-in-out infinite alternate-reverse;
}
.circle:nth-child(1){
    top: 40px;
    left: 70%;
    font-size: 150px;
    color: orange;
}
@keyframes move-up{
    to{
        transform: translateY(-40px);
    }
}
@keyframes move-down{
    to{
        transform: translateY(40px);
    }
}
#cityoutput{
    text-align: center;
    color: rgb(255, 255, 255);
}
#description ,#wind ,#temp{
    color: #080808;
    padding-left: 35px;
}
#description span ,#wind span ,#temp span{
    color: #272727;
}
.weather-icon{
    position: absolute;
    right: 90px;
    top:40px;
    animation: move-up .9s ease-in infinite alternate-reverse;
}@media (max-width: 992px) {
    #Dachboard .Card{
        width: 80%;
        height: 50vh;
    }
    .card-inner{
        width: 100%;
    }
    .weather-icon{
        left: 235px;
    }
}